* Ë‹{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    flex-wrap: wrap;

}

header, nav, main, aside, footer {

    display: flex;
    margin: 3px


}

header {
    height: 100px;
    flex: 1 1 100vw;
    background-color: rgb(0, 73, 136);
}

header #logo {
    flex: 0 1 200px;
    background: blue;

}
#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}





nav  {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;

}

nav a {
    margin: 3%;
    font-size: 20pt;
}

main {
    height: calc(100vw - 224px);
    flex: 20 1 500px;
}

aside {
   
   
    flex: 1 1 200px;
}

footer {
    
    flex: 1 1 100vw;
}

a {
    text-decoration: none;

}

@media only screen and (max-width: 923px) {
    main {
        height: calc(100vw - 330px);
    }
    aside {
        flex: 1 1 100vw;
        height: 100px;

    }
}


@media only sreen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }
    #openMenu {
        margin-left: auto;
    }


    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
    }
}

.banner {
    width: 100px;
    height: 90px;
}