* Ë‹{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    flex-wrap: wrap;

}

header, nav, main, aside, footer {

    display: flex;
    margin: 3px


}

header {
    height: 100px;
    flex: 1 1 100vw;
}

header #logo {
    flex: 0 1 200px;
    background: blue;

}

nav  {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;

}

nav a {
    margin: 3%;
    font-size: 20pt;
}

main {
    height: calc(100vw - 224px);
    flex: 20 1 500px;
}

aside {
   
   
    flex: 1 1 200px;
}

footer {
    
    flex: 1 1 100vw;
}

a {
    text-decoration: none;

}

@media only screen and (max-width: 923px) {
    main {
        height: calc(100vw - 330px);
    }
    aside {
        flex: 1 1 100vw;
        height: 100px;

    }
}

