.header {
    background-color: rgb(0, 20, 120);
}
.a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}

.imagem-cabecalho {
    width: 30px;
    height: 30px;
    padding: 20px;
}